* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.middle {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-width: 39pc;
    gap: 8px;
}

.btnContainer {
    display: flex;
    gap: 1px;
}

button {
    border-radius: 0;
    border: 3px solid black;
    font-size: 1.2pc;
    background-color: rgb(56, 56, 163);
    color: white;
}